[Unit]
Description=LightWaveRF service with docker compose
Requires=docker.service
After=docker.service network.target

[Service]
Restart=always

WorkingDirectory=/home/pi/LightwaveRF/

# Compose up (create everything needed, inc. volumes and networks, etc)
ExecStart=/usr/bin/docker-compose up --build

# Compose stop, remove containers (but not volumes, networks, etc)
ExecStop=/usr/bin/docker-compose stop -v

[Install]
WantedBy=multi-user.target
